### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Visual Studio Code ###
.vscode

### Mac
.DS_Store
/ali-dbhub-server/ali-dbhub-server-start/src/main/resources/static/front/*
