@import '../../var.less';

.box {
}

.form {
  :global {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .custom-form-item {
      > div > div:nth-of-type(1) {
        width: 70px;
        text-align: left;
      }
    }
  }
}
