.chatAI {
  height: 100vh;
  width: 100vw;
  background-color: #444654;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 0px;
    line-height: 1.8;
  }

  ::selection {
    background-color: #ffffcc;
    color: #000000;
    text-decoration: none;
  }
}


.chatFlow {
  height: calc(100vh - 100px);
  width: 680px;
  padding: 32px 0;
  overflow-y: auto;
}

.chatItem {
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  line-height: 24px;

}

.title {
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #343541;
  padding: 10px;
}

.content {
  background-color: #444654;
  padding: 0 10px;
}

.chatBtnBlock {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  .chatBtn {
    height: 100%;
    width: 680px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}