<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis的配置文件 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J" />
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
    </settings>
    <typeHandlers>
        <typeHandler jdbcType="VARCHAR" javaType="java.lang.String" handler="com.alibaba.dbhub.server.domain.support.dialect.common.handler.IndexTypeHandler"/>
        <typeHandler jdbcType="VARCHAR" javaType="java.lang.Boolean" handler="com.alibaba.dbhub.server.domain.support.dialect.common.handler.BooleanTypeHandler"/>
        <typeHandler jdbcType="VARCHAR" javaType="java.lang.String" handler="com.alibaba.dbhub.server.domain.support.dialect.mysql.handler.MysqlCollationTypeHandler"/>
    </typeHandlers>

    <mappers>
        <mapper class="com.alibaba.dbhub.server.domain.support.dialect.mysql.mapper.MysqlMetaSchemaMapper"></mapper>
    </mappers>

</configuration>