@import '../../var.less';

.box{
  display: flex;
  align-items: center;
  padding: 8px 0px;
  .tab{
    position: relative;
    padding: 6px 14px;
    cursor: pointer;
    &::after{
      position: absolute;
      content: '';
      bottom: -8px;
      left: 50%;
      width: 0px;
      height: 2px;
      background-color: var(--custom-primary-color);
      transition: .5;
    }
    &:hover{
      background-color: var(--color-bg-200);
      border-radius: 5px;
    }
  }
  .currentTab{
    color: var(--custom-primary-color);
    &::after{
      left: 0;
      width: 100%;
      transition: .3s;
    }
  }
}