@import '../../var.less';

.box{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty{
  width: 200px;
  height: 200px;
  background-image: url('../../assets/no-data.png');
  background-size: cover;
  background-repeat: no-repeat;
}