@import '../../var.less';

.formFooter {
  display: flex;
  justify-content: space-between;
  .cancel {
    margin-right: 20px;
    .f-button();
  }

  .rightButton{
    display: flex
  }

  .test,.save,.cancel {
    .f-button();
  }
}

.authentication{
  width: 250px;
}

.moreLine{
  display: flex;
  .hostComputer{
    flex: 5;
  }
  .port{
    flex: 2;
  }
}
.form{
  :global{
    .custom-form-item{
      >div >div:nth-of-type(1){
        width: 70px;
      }
    }
  }
}